@{

    ViewData["title"] = "ListUsers";
}

<h1>List of Users</h1>

@model IEnumerable<Coffee_Shop.Models.RegisterUser>


<table class="table">
    <tr>
        <th>UserName</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Age</td>
            <td>@Html.ActionLink("User Information", "UserView", user)</td>
        </tr>
    }

</table>
